In [1]:
import pandas as pd
import sqlite3
import json
import datetime

In [2]:

conn = sqlite3.connect("kickstarter.db")
df = pd.read_sql_query("select * from kickstarter;", conn)
df.head()

,backers_count,blurb,category,converted_pledged_amount,country,country_displayable_name,created_at,creator,currency,currency_symbol,...,slug,source_url,spotlight,staff_pick,state,state_changed_at,static_usd_rate,urls,usd_pledged,usd_type
0,0,A humble little Astro traveling around brewing...,"{""id"":311,""name"":""Food Trucks"",""analytics_name...",0,US,the United States,1498065534,"{""id"":939819973,""name"":""Daniel Sanchez"",""is_re...",USD,$,...,crimpcoffee-good-coffee-good-times,https://www.kickstarter.com/discover/categorie...,false,false,failed,1500766709,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",0.000000,international
1,454,"Spooky ghost miniatures for tabletop gaming, R...","{""id"":34,""name"":""Tabletop Games"",""analytics_na...",17010,DK,Denmark,1603805375,"{""id"":1449949486,""name"":""Fleshcraft Studio"",""s...",DKK,kr,...,spawns-of-the-great-rot-printable-stl-3d-minia...,https://www.kickstarter.com/discover/categorie...,true,false,successful,1607716729,0.158957,"{""web"":{""project"":""https://www.kickstarter.com...",16559.556457,international
2,1,As a part of Dreamcatcher Comics we will be st...,"{""id"":272,""name"":""Mobile Games"",""analytics_nam...",64,GB,the United Kingdom,1492296418,"{""id"":1942869476,""name"":""Sebastian"",""slug"":""dr...",GBP,£,...,dreamcatcher-games,https://www.kickstarter.com/discover/categorie...,false,false,failed,1495025970,1.283700,"{""web"":{""project"":""https://www.kickstarter.com...",64.185017,international
3,92,We write D&D gaming modules that make the game...,"{""id"":34,""name"":""Tabletop Games"",""analytics_na...",6223,US,the United States,1604510331,"{""id"":899047186,""name"":""Cory J. Burns"",""slug"":...",USD,$,...,felbars-shoppe-of-curiosities-and-occult,https://www.kickstarter.com/discover/categorie...,true,false,successful,1609738201,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",6223.000000,international
4,128,"Wander creates high quality, hand-crafted, fun...","{""id"":313,""name"":""Small Batch"",""analytics_name...",10448,US,the United States,1595259627,"{""id"":354732308,""name"":""Wander Foods"",""slug"":""...",USD,$,...,wander-flavorful-and-functional-pantry-staples,https://www.kickstarter.com/discover/categorie...,true,false,successful,1604073600,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",10448.000000,international

In [2]:
df.iloc[1,1]

'Spooky ghost miniatures for tabletop gaming, RPG, DnD. Great for undead themed campaigns.'

In [3]:
df.iloc[1,2]

'{"id":34,"name":"Tabletop Games","analytics_name":"Tabletop Games","slug":"games/tabletop games","position":6,"parent_id":12,"parent_name":"Games","color":51627,"urls":{"web":{"discover":"http://www.kickstarter.com/discover/categories/games/tabletop%20games"}}}'

In [4]:
df.iloc[1, 7]

'{"id":1449949486,"name":"Fleshcraft Studio","slug":"fleshcraftstudio","is_registered":null,"is_email_verified":null,"chosen_currency":null,"is_superbacker":null,"avatar":{"thumb":"https://ksr-ugc.imgix.net/assets/031/176/563/cb426c7d4baa78ba819bc2eaf2e02d3e_original.png?ixlib=rb-2.1.0&w=40&h=40&fit=crop&v=1603804873&auto=format&frame=1&q=92&s=75e438e8f2d2a9ae40f65878c217ac2e","small":"https://ksr-ugc.imgix.net/assets/031/176/563/cb426c7d4baa78ba819bc2eaf2e02d3e_original.png?ixlib=rb-2.1.0&w=80&h=80&fit=crop&v=1603804873&auto=format&frame=1&q=92&s=4bb1c067764781030a0b317ec847ee6e","medium":"https://ksr-ugc.imgix.net/assets/031/176/563/cb426c7d4baa78ba819bc2eaf2e02d3e_original.png?ixlib=rb-2.1.0&w=160&h=160&fit=crop&v=1603804873&auto=format&frame=1&q=92&s=ee97fde202c7e34c3ec5e67913b5d9fd"},"urls":{"web":{"user":"https://www.kickstarter.com/profile/fleshcraftstudio"},"api":{"user":"https://api.kickstarter.com/v1/users/1449949486?signature=1618565115.f43d84a843f1cc4d5792fcfb2cf3106bce4cbe7a"}}}'

In [5]:
df.dtypes

backers_count                 int64
blurb                        object
category                     object
converted_pledged_amount      int64
country                      object
country_displayable_name     object
created_at                    int64
creator                      object
currency                     object
currency_symbol              object
currency_trailing_code       object
current_currency             object
deadline                      int64
disable_communication        object
friends                      object
fx_rate                     float64
goal                        float64
id                            int64
is_backing                   object
is_starrable                 object
is_starred                   object
launched_at                   int64
location                     object
name                         object
permissions                  object
photo                        object
pledged                     float64
profile                      object
slug                         object
source_url                   object
spotlight                    object
staff_pick                   object
state                        object
state_changed_at              int64
static_usd_rate             float64
urls                         object
usd_pledged                 float64
usd_type                     object
dtype: object

In [6]:
df.shape

(224179, 38)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224179 entries, 0 to 224178
Data columns (total 38 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   backers_count             224179 non-null  int64
 1   blurb                     224178 non-null  object
 2   category                  224179 non-null  object
 3   converted_pledged_amount  224179 non-null  int64
 4   country                   224179 non-null  object
 5   country_displayable_name  224179 non-null  object
 6   created_at                224179 non-null  int64
 7   creator                   224179 non-null  object
 8   currency                  224179 non-null  object
 9   currency_symbol           224179 non-null  object
 10  currency_trailing_code    224179 non-null  object
 11  current_currency          224179 non-null  object
 12  deadline                  224179 non-null  int64
 13  disable_communication     224179 non-null  object
 14  friends                   144 non-null     object
 15  fx_rate                   224179 non-null  float64
 16  goal                      224179 non-null  float64
 17  id                        224179 non-null  int64
 18  is_backing                144 non-null     object
 19  is_starrable              224179 non-null  object
 20  is_starred                144 non-null     object
 21  launched_at               224179 non-null  int64
 22  location                  223966 non-null  object
 23  name                      224179 non-null  object
 24  permissions               144 non-null     object
 25  photo                     224179 non-null  object
 26  pledged                   224179 non-null  float64
 27  profile                   224179 non-null  object
 28  slug                      224179 non-null  object
 29  source_url                224179 non-null  object
 30  spotlight                 224179 non-null  object
 31  staff_pick                224179 non-null  object
 32  state                     224179 non-null  object
 33  state_changed_at          224179 non-null  int64
 34  static_usd_rate           224179 non-null  float64
 35  urls                      224179 non-null  object
 36  usd_pledged               224179 non-null  float64
 37  usd_type                  224179 non-null  object
dtypes: float64(5), int64(7), object(26)
memory usage: 65.0+ MB

In [8]:
df['disable_communication'].value_counts()

false    224179
Name: disable_communication, dtype: int64

In [9]:
df['is_starrable'].value_counts()

false    217924
true       6255
Name: is_starrable, dtype: int64

In [3]:
drop_columns =['blurb', 'country', 'creator', 'currency_symbol', 'currency_trailing_code', 'current_currency', 'disable_communication',
              'friends', 'fx_rate', 'is_backing', 'is_starrable', 'is_starred', 'permissions', 'photo', 'profile', 'slug', 'source_url',
              'static_usd_rate', 'urls', 'usd_type']
df = df.drop(columns=drop_columns)

In [6]:
df.duplicated().value_counts()

False    197306
True      26873
dtype: int64

In [7]:
df[df.duplicated()]

,backers_count,category,converted_pledged_amount,country_displayable_name,created_at,currency,deadline,goal,id,launched_at,location,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged
552,71,"{""id"":314,""name"":""Spaces"",""analytics_name"":""Sp...",3820,the United States,1537907592,USD,1544452139,3500.0,932152283,1539264539,"{""id"":2451864,""name"":""Milwaukie"",""slug"":""milwa...",Building the Meadery at Wyrd Leather and Mead,3820.00,true,false,successful,1544452139,3820.000000
1465,58,"{""id"":307,""name"":""Drinks"",""analytics_name"":""Dr...",6627,the United States,1509139089,USD,1512237840,3000.0,413909996,1509642240,"{""id"":2416363,""name"":""Hallock"",""slug"":""hallock...",Bean and Brush: Small Town Coffee Shop,6627.00,true,false,successful,1512237840,6627.000000
1495,39,"{""id"":311,""name"":""Food Trucks"",""analytics_name...",27185,Switzerland,1608053719,CHF,1616855926,25000.0,616890347,1611675526,"{""id"":784784,""name"":""Zug"",""slug"":""zug-zug-cant...",DaniLele Mobil,25536.00,true,false,successful,1616855926,28845.176277
3044,2622,"{""id"":361,""name"":""Web"",""analytics_name"":""Web"",...",161493,the United States,1528835501,USD,1531832104,75000.0,1994255804,1529240104,"{""id"":2391279,""name"":""Denver"",""slug"":""denver-c...",The Colorado Sun,161493.89,true,true,successful,1531832105,161493.890000
3081,32,"{""id"":359,""name"":""Print"",""analytics_name"":""Pri...",1089,the United States,1428512782,USD,1432490022,1000.0,338694406,1429552422,"{""id"":2487129,""name"":""St. Paul"",""slug"":""st-pau...",This Just In From Gen Con,1089.00,true,false,successful,1432490023,1089.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224158,69,"{""id"":345,""name"":""DIY"",""analytics_name"":""DIY"",...",1722,the United States,1541289185,USD,1553205822,500.0,112383146,1550617422,"{""id"":2426440,""name"":""Idaho Falls"",""slug"":""ida...",Anywhere Zen,1722.00,true,false,successful,1553205822,1722.000000
224165,107,"{""id"":250,""name"":""Comic Books"",""analytics_name...",1836,the United States,1574407860,USD,1585860404,1000.0,559114589,1583959604,"{""id"":2468964,""name"":""Pasadena"",""slug"":""pasade...",The Ax Man #2,1836.00,true,false,successful,1585860405,1836.000000
224172,109,"{""id"":356,""name"":""Woodworking"",""analytics_name...",5507,the United States,1444338051,USD,1448977713,2000.0,1383199156,1446122913,"{""id"":2451463,""name"":""Millfield"",""slug"":""millf...",Animated Hardwood Animal Toys,5507.50,true,false,successful,1448977713,5507.500000
224173,119,"{""id"":250,""name"":""Comic Books"",""analytics_name...",2029,the United States,1604063788,USD,1619582340,2800.0,63418717,1617679796,"{""id"":2459115,""name"":""New York"",""slug"":""new-yo...",The Last Homicide: #1 of a 2-part crime noir d...,2029.00,false,false,live,1617679797,2029.000000
224174,81,"{""id"":250,""name"":""Comic Books"",""analytics_name...",2421,the United States,1609477637,USD,1613318803,500.0,926710979,1610726803,"{""id"":2381475,""name"":""Cleveland"",""slug"":""cleve...","Dunsany 2: After the Fire, a Lord Dunsany Comi...",2421.00,true,false,successful,1613318803,2421.000000

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.state.value_counts()

successful    108374
failed         75769
canceled        9304
live            3859
Name: state, dtype: int64

In [10]:
df.count()

backers_count               197306
category                    197306
converted_pledged_amount    197306
country_displayable_name    197306
created_at                  197306
currency                    197306
deadline                    197306
goal                        197306
id                          197306
launched_at                 197306
location                    197095
name                        197306
pledged                     197306
spotlight                   197306
staff_pick                  197306
state                       197306
state_changed_at            197306
usd_pledged                 197306
dtype: int64

197,306 total projects launched 
108,374 successful projects

In [11]:
# percentage of successful projects

108374/197306

0.5492686486979615

In [12]:
# drop rows that are not successful or failed

df = df[(df['state'] == 'successful') | (df['state'] == 'failed')]

In [13]:
df.shape

(184143, 18)

In [14]:
df.state.value_counts()

successful    108374
failed         75769
Name: state, dtype: int64

In [14]:
df.head()

,backers_count,category,converted_pledged_amount,country_displayable_name,created_at,currency,deadline,goal,id,launched_at,location,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged
0,0,"{""id"":311,""name"":""Food Trucks"",""analytics_name...",0,the United States,1498065534,USD,1500766709,1000.0,1166044523,1498174709,"{""id"":2475687,""name"":""Portland"",""slug"":""portla...",CrimpCoffee: Good Coffee Good Times,0.00,false,false,failed,1500766709,0.000000
1,454,"{""id"":34,""name"":""Tabletop Games"",""analytics_na...",17010,Denmark,1603805375,DKK,1607716729,7500.0,986370978,1605124729,"{""id"":557827,""name"":""Svendborg"",""slug"":""svendb...",Spawns of the Great Rot - Printable stl 3d min...,104176.17,true,false,successful,1607716729,16559.556457
2,1,"{""id"":272,""name"":""Mobile Games"",""analytics_nam...",64,the United Kingdom,1492296418,GBP,1495025970,500.0,2059825834,1493297970,"{""id"":19612,""name"":""Enfield"",""slug"":""enfield-l...",Dreamcatcher Games,50.00,false,false,failed,1495025970,64.185017
3,92,"{""id"":34,""name"":""Tabletop Games"",""analytics_na...",6223,the United States,1604510331,USD,1609738200,5000.0,1462846972,1605219501,"{""id"":2379574,""name"":""Chicago"",""slug"":""chicago...",Felbar's Shoppe of Curiosities and Occult for ...,6223.00,true,false,successful,1609738201,6223.000000
4,128,"{""id"":313,""name"":""Small Batch"",""analytics_name...",10448,the United States,1595259627,USD,1604073600,10000.0,1635933643,1601558300,"{""id"":12589335,""name"":""Brooklyn"",""slug"":""brook...",Wander: Flavorful and Functional Pantry Staples,10448.00,true,false,successful,1604073600,10448.000000

In [15]:
df['created_at'] = pd.to_datetime(df['created_at'],unit='s')

In [16]:
df.head()

,backers_count,category,converted_pledged_amount,country_displayable_name,created_at,currency,deadline,goal,id,launched_at,location,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged
0,0,"{""id"":311,""name"":""Food Trucks"",""analytics_name...",0,the United States,2017-06-21 17:18:54,USD,1500766709,1000.0,1166044523,1498174709,"{""id"":2475687,""name"":""Portland"",""slug"":""portla...",CrimpCoffee: Good Coffee Good Times,0.00,false,false,failed,1500766709,0.000000
1,454,"{""id"":34,""name"":""Tabletop Games"",""analytics_na...",17010,Denmark,2020-10-27 13:29:35,DKK,1607716729,7500.0,986370978,1605124729,"{""id"":557827,""name"":""Svendborg"",""slug"":""svendb...",Spawns of the Great Rot - Printable stl 3d min...,104176.17,true,false,successful,1607716729,16559.556457
2,1,"{""id"":272,""name"":""Mobile Games"",""analytics_nam...",64,the United Kingdom,2017-04-15 22:46:58,GBP,1495025970,500.0,2059825834,1493297970,"{""id"":19612,""name"":""Enfield"",""slug"":""enfield-l...",Dreamcatcher Games,50.00,false,false,failed,1495025970,64.185017
3,92,"{""id"":34,""name"":""Tabletop Games"",""analytics_na...",6223,the United States,2020-11-04 17:18:51,USD,1609738200,5000.0,1462846972,1605219501,"{""id"":2379574,""name"":""Chicago"",""slug"":""chicago...",Felbar's Shoppe of Curiosities and Occult for ...,6223.00,true,false,successful,1609738201,6223.000000
4,128,"{""id"":313,""name"":""Small Batch"",""analytics_name...",10448,the United States,2020-07-20 15:40:27,USD,1604073600,10000.0,1635933643,1601558300,"{""id"":12589335,""name"":""Brooklyn"",""slug"":""brook...",Wander: Flavorful and Functional Pantry Staples,10448.00,true,false,successful,1604073600,10448.000000

In [17]:
# most recent project
df['created_at'].max()

Timestamp('2021-04-05 01:15:49')

In [18]:
# earliest project
df['created_at'].min()

Timestamp('2009-04-22 02:11:10')

In [19]:
df['deadline'] = pd.to_datetime(df['deadline'],unit='s')

In [20]:

df['launched_at'] = pd.to_datetime(df['launched_at'],unit='s')
df['state_changed_at'] = pd.to_datetime(df['state_changed_at'],unit='s')

In [21]:
df.head()

,backers_count,category,converted_pledged_amount,country_displayable_name,created_at,currency,deadline,goal,id,launched_at,location,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged
0,0,"{""id"":311,""name"":""Food Trucks"",""analytics_name...",0,the United States,2017-06-21 17:18:54,USD,2017-07-22 23:38:29,1000.0,1166044523,2017-06-22 23:38:29,"{""id"":2475687,""name"":""Portland"",""slug"":""portla...",CrimpCoffee: Good Coffee Good Times,0.00,false,false,failed,2017-07-22 23:38:29,0.000000
1,454,"{""id"":34,""name"":""Tabletop Games"",""analytics_na...",17010,Denmark,2020-10-27 13:29:35,DKK,2020-12-11 19:58:49,7500.0,986370978,2020-11-11 19:58:49,"{""id"":557827,""name"":""Svendborg"",""slug"":""svendb...",Spawns of the Great Rot - Printable stl 3d min...,104176.17,true,false,successful,2020-12-11 19:58:49,16559.556457
2,1,"{""id"":272,""name"":""Mobile Games"",""analytics_nam...",64,the United Kingdom,2017-04-15 22:46:58,GBP,2017-05-17 12:59:30,500.0,2059825834,2017-04-27 12:59:30,"{""id"":19612,""name"":""Enfield"",""slug"":""enfield-l...",Dreamcatcher Games,50.00,false,false,failed,2017-05-17 12:59:30,64.185017
3,92,"{""id"":34,""name"":""Tabletop Games"",""analytics_na...",6223,the United States,2020-11-04 17:18:51,USD,2021-01-04 05:30:00,5000.0,1462846972,2020-11-12 22:18:21,"{""id"":2379574,""name"":""Chicago"",""slug"":""chicago...",Felbar's Shoppe of Curiosities and Occult for ...,6223.00,true,false,successful,2021-01-04 05:30:01,6223.000000
4,128,"{""id"":313,""name"":""Small Batch"",""analytics_name...",10448,the United States,2020-07-20 15:40:27,USD,2020-10-30 16:00:00,10000.0,1635933643,2020-10-01 13:18:20,"{""id"":12589335,""name"":""Brooklyn"",""slug"":""brook...",Wander: Flavorful and Functional Pantry Staples,10448.00,true,false,successful,2020-10-30 16:00:00,10448.000000

In [25]:
df.to_csv('kickstarter_cleaning.csv', index=False)

In [2]:
df = pd.read_csv('kickstarter_cleaning.csv')

In [3]:
df.head()

,backers_count,category,converted_pledged_amount,country_displayable_name,created_at,currency,deadline,goal,id,launched_at,location,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged
0,0,"{""id"":311,""name"":""Food Trucks"",""analytics_name...",0,the United States,2017-06-21 17:18:54,USD,2017-07-22 23:38:29,1000.0,1166044523,2017-06-22 23:38:29,"{""id"":2475687,""name"":""Portland"",""slug"":""portla...",CrimpCoffee: Good Coffee Good Times,0.00,False,False,failed,2017-07-22 23:38:29,0.000000
1,454,"{""id"":34,""name"":""Tabletop Games"",""analytics_na...",17010,Denmark,2020-10-27 13:29:35,DKK,2020-12-11 19:58:49,7500.0,986370978,2020-11-11 19:58:49,"{""id"":557827,""name"":""Svendborg"",""slug"":""svendb...",Spawns of the Great Rot - Printable stl 3d min...,104176.17,True,False,successful,2020-12-11 19:58:49,16559.556457
2,1,"{""id"":272,""name"":""Mobile Games"",""analytics_nam...",64,the United Kingdom,2017-04-15 22:46:58,GBP,2017-05-17 12:59:30,500.0,2059825834,2017-04-27 12:59:30,"{""id"":19612,""name"":""Enfield"",""slug"":""enfield-l...",Dreamcatcher Games,50.00,False,False,failed,2017-05-17 12:59:30,64.185017
3,92,"{""id"":34,""name"":""Tabletop Games"",""analytics_na...",6223,the United States,2020-11-04 17:18:51,USD,2021-01-04 05:30:00,5000.0,1462846972,2020-11-12 22:18:21,"{""id"":2379574,""name"":""Chicago"",""slug"":""chicago...",Felbar's Shoppe of Curiosities and Occult for ...,6223.00,True,False,successful,2021-01-04 05:30:01,6223.000000
4,128,"{""id"":313,""name"":""Small Batch"",""analytics_name...",10448,the United States,2020-07-20 15:40:27,USD,2020-10-30 16:00:00,10000.0,1635933643,2020-10-01 13:18:20,"{""id"":12589335,""name"":""Brooklyn"",""slug"":""brook...",Wander: Flavorful and Functional Pantry Staples,10448.00,True,False,successful,2020-10-30 16:00:00,10448.000000

In [4]:
# extract category name
df['category'][0]

'{"id":311,"name":"Food Trucks","analytics_name":"Food Trucks","slug":"food/food trucks","position":8,"parent_id":10,"parent_name":"Food","color":16725570,"urls":{"web":{"discover":"http://www.kickstarter.com/discover/categories/food/food%20trucks"}}}'

In [5]:
df.iloc[345,1]

'{"id":301,"name":"Science Fiction","analytics_name":"Science Fiction","slug":"film & video/science fiction","position":15,"parent_id":11,"parent_name":"Film & Video","color":16734574,"urls":{"web":{"discover":"http://www.kickstarter.com/discover/categories/film%20&%20video/science%20fiction"}}}'

In [4]:
new_df = df.copy(deep=True)

In [5]:
new_df['category'] = new_df['category'].astype('str')

In [6]:
new_df['category'] = new_df['category'].str.split(',')

In [7]:
new_df['category'][0][6]

'"parent_name":"Food"'

In [8]:
def extract_cat(x):
    return x[6]

In [9]:
new_df['new_cat'] = new_df['category'].apply(extract_cat)

In [10]:
new_df.head()

,backers_count,category,converted_pledged_amount,country_displayable_name,created_at,currency,deadline,goal,id,launched_at,location,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged,new_cat
0,0,"[{""id"":311, ""name"":""Food Trucks"", ""analytics_n...",0,the United States,2017-06-21 17:18:54,USD,2017-07-22 23:38:29,1000.0,1166044523,2017-06-22 23:38:29,"{""id"":2475687,""name"":""Portland"",""slug"":""portla...",CrimpCoffee: Good Coffee Good Times,0.00,False,False,failed,2017-07-22 23:38:29,0.000000,"""parent_name"":""Food"""
1,454,"[{""id"":34, ""name"":""Tabletop Games"", ""analytics...",17010,Denmark,2020-10-27 13:29:35,DKK,2020-12-11 19:58:49,7500.0,986370978,2020-11-11 19:58:49,"{""id"":557827,""name"":""Svendborg"",""slug"":""svendb...",Spawns of the Great Rot - Printable stl 3d min...,104176.17,True,False,successful,2020-12-11 19:58:49,16559.556457,"""parent_name"":""Games"""
2,1,"[{""id"":272, ""name"":""Mobile Games"", ""analytics_...",64,the United Kingdom,2017-04-15 22:46:58,GBP,2017-05-17 12:59:30,500.0,2059825834,2017-04-27 12:59:30,"{""id"":19612,""name"":""Enfield"",""slug"":""enfield-l...",Dreamcatcher Games,50.00,False,False,failed,2017-05-17 12:59:30,64.185017,"""parent_name"":""Games"""
3,92,"[{""id"":34, ""name"":""Tabletop Games"", ""analytics...",6223,the United States,2020-11-04 17:18:51,USD,2021-01-04 05:30:00,5000.0,1462846972,2020-11-12 22:18:21,"{""id"":2379574,""name"":""Chicago"",""slug"":""chicago...",Felbar's Shoppe of Curiosities and Occult for ...,6223.00,True,False,successful,2021-01-04 05:30:01,6223.000000,"""parent_name"":""Games"""
4,128,"[{""id"":313, ""name"":""Small Batch"", ""analytics_n...",10448,the United States,2020-07-20 15:40:27,USD,2020-10-30 16:00:00,10000.0,1635933643,2020-10-01 13:18:20,"{""id"":12589335,""name"":""Brooklyn"",""slug"":""brook...",Wander: Flavorful and Functional Pantry Staples,10448.00,True,False,successful,2020-10-30 16:00:00,10448.000000,"""parent_name"":""Food"""

In [11]:
new_df['new_cat'] = new_df['new_cat'].astype('str')

In [12]:
new_df['new_cat'] = new_df['new_cat'].str.split(':')

In [13]:
new_df['new_cat'].head()

0     ["parent_name", "Food"]
1    ["parent_name", "Games"]
2    ["parent_name", "Games"]
3    ["parent_name", "Games"]
4     ["parent_name", "Food"]
Name: new_cat, dtype: object

In [14]:
new_df.iloc[345]

backers_count                                                              19
category                    [{"id":301, "name":"Science Fiction", "analyti...
converted_pledged_amount                                                 1008
country_displayable_name                                    the United States
created_at                                                2017-10-14 02:06:46
currency                                                                  USD
deadline                                                  2017-12-12 00:49:41
goal                                                                  50000.0
id                                                                  100399282
launched_at                                               2017-11-12 00:49:41
location                    {"id":2442047,"name":"Los Angeles","slug":"los...
name                                            Aurora - Chronicles of a Hero
pledged                                                                1008.0
spotlight                                                               False
staff_pick                                                              False
state                                                                  failed
state_changed_at                                          2017-12-12 00:49:41
usd_pledged                                                            1008.0
new_cat                                       ["parent_name", "Film & Video"]
Name: 345, dtype: object

In [15]:
def extract_group(x):
    return x[1]

In [16]:
new_df['final_category'] = new_df['new_cat'].apply(extract_group)

In [17]:
new_df.sample(20)

,backers_count,category,converted_pledged_amount,country_displayable_name,created_at,currency,deadline,goal,id,launched_at,location,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged,new_cat,final_category
64360,1,"[{""id"":39, ""name"":""Hip-Hop"", ""analytics_name"":...",1,the United States,2015-01-29 21:41:48,USD,2015-05-20 19:18:55,3672.0,1116662013,2015-04-20 19:18:55,"{""id"":2378319,""name"":""Charleston"",""slug"":""char...",Down Like You,1.00,False,False,failed,2015-05-20 19:18:58,1.000000,"[""parent_name"", ""Music""]","""Music"""
135106,2,"[{""id"":267, ""name"":""Jewelry"", ""analytics_name""...",10,the United States,2017-07-07 17:00:23,USD,2017-07-10 17:00:00,700.0,767021465,2017-07-07 18:07:58,"{""id"":2464029,""name"":""Ocala"",""slug"":""ocala-fl""...",Trendy Delicate Stone Pendants,10.00,False,False,failed,2017-07-10 17:00:02,10.000000,"[""parent_name"", ""Fashion""]","""Fashion"""
155725,527,"[{""id"":263, ""name"":""Apparel"", ""analytics_name""...",88954,the United States,2015-12-13 02:36:19,USD,2016-03-31 04:01:28,30000.0,1713214874,2016-03-01 05:01:28,"{""id"":2459115,""name"":""New York"",""slug"":""new-yo...",The Ultimate Capsule Collection | 5 Pieces = 3...,88954.00,True,True,successful,2016-03-31 04:01:28,88954.000000,"[""parent_name"", ""Fashion""]","""Fashion"""
205409,166,"[{""id"":33, ""name"":""Webseries"", ""analytics_name...",3080,the United States,2010-06-29 01:06:34,USD,2010-07-06 22:00:00,2000.0,2032416519,2010-07-01 15:59:52,"{""id"":12589335,""name"":""Brooklyn"",""slug"":""brook...",The Kickstarter Film Festival,3080.00,True,True,successful,2010-07-06 22:00:10,3080.000000,"[""parent_name"", ""Film & Video""]","""Film & Video"""
118407,0,"[{""id"":303, ""name"":""Television"", ""analytics_na...",0,the United States,2016-07-04 03:44:55,USD,2016-08-05 22:08:20,30000000.0,647670302,2016-07-06 22:08:20,"{""id"":2439482,""name"":""Lincoln"",""slug"":""lincoln...",Secure Spent Nuclear Fuel Rods Now,0.00,False,False,failed,2016-08-05 22:08:20,0.000000,"[""parent_name"", ""Film & Video""]","""Film & Video"""
199868,16,"[{""id"":28, ""name"":""Product Design"", ""analytics...",2593,Australia,2021-02-18 07:29:20,AUD,2021-04-05 21:35:50,950.0,1202478337,2021-03-01 22:35:50,"{""id"":1105779,""name"":""Sydney"",""slug"":""sydney-a...",Aviation clocks inspired by real airplane inst...,3403.32,True,False,successful,2021-04-05 21:35:50,2622.475328,"[""parent_name"", ""Design""]","""Design"""
191175,0,"[{""id"":322, ""name"":""R&B"", ""analytics_name"":""R&...",0,the United States,2015-12-30 17:32:55,USD,2016-02-03 20:16:15,10.0,466581378,2016-01-04 20:16:15,"{""id"":2441472,""name"":""Long Beach"",""slug"":""long...",This Time It's Really Real Album (Ride Alone ...,0.00,False,False,failed,2016-02-03 20:16:16,0.000000,"[""parent_name"", ""Music""]","""Music"""
45244,81,"[{""id"":313, ""name"":""Small Batch"", ""analytics_n...",10623,the United Kingdom,2015-11-05 08:09:05,GBP,2015-12-10 13:12:27,7000.0,783251540,2015-11-10 13:12:27,"{""id"":23416974,""name"":""Greater London"",""slug"":...",Neigh,7000.00,True,False,successful,2015-12-10 13:12:27,10549.540610,"[""parent_name"", ""Food""]","""Food"""
44352,0,"[{""id"":292, ""name"":""Comedy"", ""analytics_name"":...",0,the United States,2015-06-01 08:16:51,USD,2015-07-01 20:32:01,10000.0,1024781221,2015-06-01 20:32:01,"{""id"":2449452,""name"":""Menomonee Falls"",""slug"":...",A comical journey into the minds of the Erucha...,0.00,False,False,failed,2015-07-01 20:32:03,0.000000,"[""parent_name"", ""Film & Video""]","""Film & Video"""
86988,26,"[{""id"":351, ""name"":""Printing"", ""analytics_name...",1125,the United States,2017-04-07 05:07:54,USD,2017-05-02 22:48:21,1000.0,442565,2017-04-12 22:48:21,"{""id"":2524457,""name"":""Yakima"",""slug"":""yakima-w...",Classy Greeting Cards,1125.00,True,False,successful,2017-05-02 22:48:22,1125.000000,"[""parent_name"", ""Crafts""]","""Crafts"""
138414,110,"[{""id"":359, ""name"":""Print"", ""analytics_name"":""...",11477,the United States,2015-03-15 22:30:50,USD,2015-04-01 03:00:00,10000.0,1314584883,2015-03-16 13:44:12,"{""id"":2459115,""name"":""New York"",""slug"":""new-yo...","Obelisk - A Book on Art, Architecture, & Antiq...",11477.00,True,True,successful,2015-04-01 03:00:25,11477.000000,"[""parent_name"", ""Journalism""]","""Journalism"""
133925,119,"[{""id"":47, ""name"":""Fiction"", ""analytics_name"":...",20498,the United States,2014-08-18 15:47:40,USD,2014-10-09 18:57:01,20000.0,1124047070,2014-09-04 18:57:01,"{""id"":2521000,""name"":""Williston"",""slug"":""willi...",Colorworld: The Rogue Story Reimagined,20498.00,True,False,successful,2014-10-09 18:57:01,20498.000000,"[""parent_name"", ""Publishing""]","""Publishing"""
183721,2,"[{""id"":332, ""name"":""Apps"", ""analytics_name"":""A...",2,the United States,2020-05-07 00:31:55,USD,2020-06-08 00:52:48,1000.0,917824820,2020-05-09 00:52:48,"{""id"":2442047,""name"":""Los Angeles"",""slug"":""los...",Dating app that cares about your dating experi...,2.00,False,False,failed,2020-06-08 00:52:49,2.000000,"[""parent_name"", ""Technology""]","""Technology"""
92006,2789,"[{""id"":337, ""name"":""Gadgets"", ""analytics_name""...",532528,the United States,2020-06-15 17:28:47,USD,2020-08-01 06:59:00,35000.0,1803183324,2020-06-25 11:28:13,"{""id"":2442047,""name"":""Los Angeles"",""slug"":""los...",MagBak Halo - A touchless 30-second sanitizer ...,532528.00,True,False,successful,2020-08-01 06:59:00,532528.000000,"[""parent_name"", ""Technology""]","""Technology"""
198718,74,"[{""id"":253, ""name"":""Webcomics"", ""analytics_nam...",3435,the United States,2015-06-01 12:34:26,USD,2015-07-01 15:21:28,3000.0,1148503292,2015-06-01 15:21:28,"{""id"":2437294,""name"":""Lawrenceburg"",""slug"":""la...",Arianna Vance Comic by Tebra,3435.00,True,False,successful,2015-07-01 15:21:32,3435.000000,"[""parent_name"", ""Comics""]","""Comics"""
115179,63,"[{""id"":54, ""name"":""Mixed Media"", ""analytics_na...",2129,France,2021-01-16 07:10:32,EUR,2021-03-01 09:55:16,742.0,362533736,2021-01-25 09:55:16,"{""id"":586242,""name"":""Clermont-Ferrand"",""slug"":...",Mac Miller Enamel Pins,1763.00,True,False,successful,2021-03-01 09:55:16,2146.364262,"[""parent_name"", ""Art""]","""Art"""
149088,25,"[{""id"":262, ""name"":""Accessories"", ""analytics_n...",743,the United Kingdom,2017-12-17 17:30:40,GBP,2018-05-27 21:44:27,400.0,846996752,2018-03-28 21:44:27,"{""id"":13911,""name"":""Brighton"",""slug"":""brighton...",Be mine,559.00,True,False,successful,2018-05-27 21:44:27,795.722743,"[""parent_name"", ""Fashion""]","""Fashion"""
31288,75,"[{""id"":292, ""name"":""Comedy"", ""analytics_name"":...",10121,the United States,2019-11-29 22:15:12,USD,2020-01-10 03:00:00,10000.0,268712443,2019-12-05 01:47:18,"{""id"":2357024,""name"":""Atlanta"",""slug"":""atlanta...",Bilbo and The Legend of The Last Living Cow | ...,10121.00,True,False,successful,2020-01-10 03:00:00,10121.000000,"[""parent_name"", ""Film & Video""]","""Film & Video"""
141937,9,"[{""id"":332, ""name"":""Apps"", ""analytics_name"":""A...",116,the United States,2014-07-08 21:36:40,USD,2014-08-09 01:58:50,100.0,1482535771,2014-07-10 01:58:50,"{""id"":2503418,""name"":""Syracuse"",""slug"":""syracu...","Help us support our app ""fact""",116.00,True,False,successful,2014-08-09 01:58:51,116.000000,"[""parent_name"", ""Technology""]","""Technology"""
200674,44,"[{""id"":40, ""name"":""Indie Rock"", ""analytics_nam...",3479,the United States,2020-09-21 05:51:46,USD,2020-11-10 03:30:41,3200.0,1823598413,2020-10-11 02:30:41,"{""id"":2487610,""name"":""Salt Lake City"",""slug"":""...",To Love Someone EP,3479.00,True,False,successful,2020-11-10 03:30:42,3479.000000,"[""parent_name"", ""Music""]","""Music"""

In [18]:
df[df['id'] == 353782170]

,backers_count,category,converted_pledged_amount,country_displayable_name,created_at,currency,deadline,goal,id,launched_at,location,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged
140034,40,"{""id"":13,""name"":""Journalism"",""analytics_name"":...",3669,the United States,2009-08-27 22:16:09,USD,2009-09-23 01:00:00,3000.0,353782170,2009-09-01 08:43:17,"{""id"":2457170,""name"":""Nashville"",""slug"":""nashv...",Land of Fire,3669.75,True,False,successful,2009-09-23 01:00:08,3669.75

In [19]:
new_df.iloc[140034,1]

['{"id":13',
 '"name":"Journalism"',
 '"analytics_name":"Journalism"',
 '"slug":"journalism"',
 '"position":10',
 '"color":1228010',
 '"urls":{"web":{"discover":"http://www.kickstarter.com/discover/categories/journalism"}}}']

In [20]:
new_df['final_category'].value_counts()

"Film & Video"    27097
"Music"           26712
"Publishing"      19961
"Art"             19938
"Technology"      17634
"Food"            15891
"Games"           12852
"Fashion"         11915
"Comics"           8563
"Design"           8259
{"web"             7719
"Photography"      7457
"Crafts"           6425
"Journalism"       5066
"Theater"          3755
6526716            3152
16743775           2785
"Dance"            2739
58341               348
14867664            240
Name: final_category, dtype: int64

In [21]:
new_df = new_df[new_df.final_category != '{"web"']

In [28]:
new_df['final_category'].value_counts()

"Film & Video"    27097
"Music"           26712
"Publishing"      19961
"Art"             19938
"Technology"      17634
"Food"            15891
"Games"           12852
"Fashion"         11915
"Comics"           8563
"Design"           8259
"Photography"      7457
"Crafts"           6425
"Journalism"       5066
"Theater"          3755
"Dance"            2739
Name: final_category, dtype: int64

In [23]:
new_df = new_df[new_df.final_category != '6526716']

In [24]:
new_df.final_category = new_df.final_category.astype('str')

In [25]:
new_df.final_category.value_counts()

"Film & Video"    27097
"Music"           26712
"Publishing"      19961
"Art"             19938
"Technology"      17634
"Food"            15891
"Games"           12852
"Fashion"         11915
"Comics"           8563
"Design"           8259
"Photography"      7457
"Crafts"           6425
"Journalism"       5066
"Theater"          3755
16743775           2785
"Dance"            2739
58341               348
14867664            240
Name: final_category, dtype: int64

In [26]:
new_df =new_df[new_df.final_category != '16743775']
new_df = new_df[new_df.final_category != '58341']
new_df = new_df[new_df.final_category != '14867664']

In [27]:
new_df.shape

(194264, 20)

In [29]:
new_df = new_df.drop(columns=['category', 'new_cat'])

In [30]:
new_df.head()

,backers_count,converted_pledged_amount,country_displayable_name,created_at,currency,deadline,goal,id,launched_at,location,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged,final_category
0,0,0,the United States,2017-06-21 17:18:54,USD,2017-07-22 23:38:29,1000.0,1166044523,2017-06-22 23:38:29,"{""id"":2475687,""name"":""Portland"",""slug"":""portla...",CrimpCoffee: Good Coffee Good Times,0.00,False,False,failed,2017-07-22 23:38:29,0.000000,"""Food"""
1,454,17010,Denmark,2020-10-27 13:29:35,DKK,2020-12-11 19:58:49,7500.0,986370978,2020-11-11 19:58:49,"{""id"":557827,""name"":""Svendborg"",""slug"":""svendb...",Spawns of the Great Rot - Printable stl 3d min...,104176.17,True,False,successful,2020-12-11 19:58:49,16559.556457,"""Games"""
2,1,64,the United Kingdom,2017-04-15 22:46:58,GBP,2017-05-17 12:59:30,500.0,2059825834,2017-04-27 12:59:30,"{""id"":19612,""name"":""Enfield"",""slug"":""enfield-l...",Dreamcatcher Games,50.00,False,False,failed,2017-05-17 12:59:30,64.185017,"""Games"""
3,92,6223,the United States,2020-11-04 17:18:51,USD,2021-01-04 05:30:00,5000.0,1462846972,2020-11-12 22:18:21,"{""id"":2379574,""name"":""Chicago"",""slug"":""chicago...",Felbar's Shoppe of Curiosities and Occult for ...,6223.00,True,False,successful,2021-01-04 05:30:01,6223.000000,"""Games"""
4,128,10448,the United States,2020-07-20 15:40:27,USD,2020-10-30 16:00:00,10000.0,1635933643,2020-10-01 13:18:20,"{""id"":12589335,""name"":""Brooklyn"",""slug"":""brook...",Wander: Flavorful and Functional Pantry Staples,10448.00,True,False,successful,2020-10-30 16:00:00,10448.000000,"""Food"""

In [33]:
new_df[new_df['id'] == 932152283]

,backers_count,converted_pledged_amount,country_displayable_name,created_at,currency,deadline,goal,id,launched_at,location,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged,final_category
272,71,3820,the United States,2018-09-25 20:33:12,USD,2018-12-10 14:28:59,3500.0,932152283,2018-10-11 13:28:59,"{""id"":2451864,""name"":""Milwaukie"",""slug"":""milwa...",Building the Meadery at Wyrd Leather and Mead,3820.0,True,False,successful,2018-12-10 14:28:59,3820.0,"""Food"""
521,71,3820,the United States,2018-09-25 20:33:12,USD,2018-12-10 14:28:59,3500.0,932152283,2018-10-11 13:28:59,"{""id"":2451864,""name"":""Milwaukie"",""slug"":""milwa...",Building the Meadery at Wyrd Leather and Mead,3820.0,True,False,successful,2018-12-10 14:28:59,3820.0,"""Food"""

In [36]:
new_df.to_csv('kickstarter_cleaning_updated.csv', index=False)

In [2]:
df2 = pd.read_csv('kickstarter_cleaning_updated.csv')

In [3]:
def extract_city(location):
    if location and isinstance(location, str):
        loc_dict = json.loads(location)
        loc_name = loc_dict['name']
    else:
        loc_name = None
    return loc_name

In [7]:
df2['city'] = df2['location'].apply(extract_city)

In [8]:
df2.head()

,backers_count,converted_pledged_amount,country_displayable_name,created_at,currency,deadline,goal,id,launched_at,location,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged,final_category,city
0,0,0,the United States,2017-06-21 17:18:54,USD,2017-07-22 23:38:29,1000.0,1166044523,2017-06-22 23:38:29,"{""id"":2475687,""name"":""Portland"",""slug"":""portla...",CrimpCoffee: Good Coffee Good Times,0.00,False,False,failed,2017-07-22 23:38:29,0.000000,"""Food""",Portland
1,454,17010,Denmark,2020-10-27 13:29:35,DKK,2020-12-11 19:58:49,7500.0,986370978,2020-11-11 19:58:49,"{""id"":557827,""name"":""Svendborg"",""slug"":""svendb...",Spawns of the Great Rot - Printable stl 3d min...,104176.17,True,False,successful,2020-12-11 19:58:49,16559.556457,"""Games""",Svendborg
2,1,64,the United Kingdom,2017-04-15 22:46:58,GBP,2017-05-17 12:59:30,500.0,2059825834,2017-04-27 12:59:30,"{""id"":19612,""name"":""Enfield"",""slug"":""enfield-l...",Dreamcatcher Games,50.00,False,False,failed,2017-05-17 12:59:30,64.185017,"""Games""",Enfield
3,92,6223,the United States,2020-11-04 17:18:51,USD,2021-01-04 05:30:00,5000.0,1462846972,2020-11-12 22:18:21,"{""id"":2379574,""name"":""Chicago"",""slug"":""chicago...",Felbar's Shoppe of Curiosities and Occult for ...,6223.00,True,False,successful,2021-01-04 05:30:01,6223.000000,"""Games""",Chicago
4,128,10448,the United States,2020-07-20 15:40:27,USD,2020-10-30 16:00:00,10000.0,1635933643,2020-10-01 13:18:20,"{""id"":12589335,""name"":""Brooklyn"",""slug"":""brook...",Wander: Flavorful and Functional Pantry Staples,10448.00,True,False,successful,2020-10-30 16:00:00,10448.000000,"""Food""",Brooklyn

In [12]:
df2.city.isna().sum()

0

In [11]:
# fill nan values in city column
df2.city.fillna('Unknown', inplace=True)

In [13]:
df2.drop(columns=['usd_pledged', 'location', 'currency'], inplace=True)

In [14]:
df2.final_category = df2.final_category.str.replace('"', '')

In [15]:
df2.head()

,backers_count,converted_pledged_amount,country_displayable_name,created_at,deadline,goal,id,launched_at,name,pledged,spotlight,staff_pick,state,state_changed_at,final_category,city
0,0,0,the United States,2017-06-21 17:18:54,2017-07-22 23:38:29,1000.0,1166044523,2017-06-22 23:38:29,CrimpCoffee: Good Coffee Good Times,0.00,False,False,failed,2017-07-22 23:38:29,Food,Portland
1,454,17010,Denmark,2020-10-27 13:29:35,2020-12-11 19:58:49,7500.0,986370978,2020-11-11 19:58:49,Spawns of the Great Rot - Printable stl 3d min...,104176.17,True,False,successful,2020-12-11 19:58:49,Games,Svendborg
2,1,64,the United Kingdom,2017-04-15 22:46:58,2017-05-17 12:59:30,500.0,2059825834,2017-04-27 12:59:30,Dreamcatcher Games,50.00,False,False,failed,2017-05-17 12:59:30,Games,Enfield
3,92,6223,the United States,2020-11-04 17:18:51,2021-01-04 05:30:00,5000.0,1462846972,2020-11-12 22:18:21,Felbar's Shoppe of Curiosities and Occult for ...,6223.00,True,False,successful,2021-01-04 05:30:01,Games,Chicago
4,128,10448,the United States,2020-07-20 15:40:27,2020-10-30 16:00:00,10000.0,1635933643,2020-10-01 13:18:20,Wander: Flavorful and Functional Pantry Staples,10448.00,True,False,successful,2020-10-30 16:00:00,Food,Brooklyn

In [16]:
df2.shape

(171251, 16)

In [17]:
df2.drop(columns='pledged', inplace=True)

In [18]:
df2 = df2.rename(columns={'converted_pledged_amount': 'pledged', 'country_displayable_name':'country', 'launched_at':'launched_date',
                         'final_category':'category'})

In [19]:
df2.head()

,backers_count,pledged,country,created_at,deadline,goal,id,launched_date,name,spotlight,staff_pick,state,state_changed_at,category,city
0,0,0,the United States,2017-06-21 17:18:54,2017-07-22 23:38:29,1000.0,1166044523,2017-06-22 23:38:29,CrimpCoffee: Good Coffee Good Times,False,False,failed,2017-07-22 23:38:29,Food,Portland
1,454,17010,Denmark,2020-10-27 13:29:35,2020-12-11 19:58:49,7500.0,986370978,2020-11-11 19:58:49,Spawns of the Great Rot - Printable stl 3d min...,True,False,successful,2020-12-11 19:58:49,Games,Svendborg
2,1,64,the United Kingdom,2017-04-15 22:46:58,2017-05-17 12:59:30,500.0,2059825834,2017-04-27 12:59:30,Dreamcatcher Games,False,False,failed,2017-05-17 12:59:30,Games,Enfield
3,92,6223,the United States,2020-11-04 17:18:51,2021-01-04 05:30:00,5000.0,1462846972,2020-11-12 22:18:21,Felbar's Shoppe of Curiosities and Occult for ...,True,False,successful,2021-01-04 05:30:01,Games,Chicago
4,128,10448,the United States,2020-07-20 15:40:27,2020-10-30 16:00:00,10000.0,1635933643,2020-10-01 13:18:20,Wander: Flavorful and Functional Pantry Staples,True,False,successful,2020-10-30 16:00:00,Food,Brooklyn

In [21]:
df2.to_csv('kickstarter_cleaning.csv', index=False)

In [2]:
df2 = pd.read_csv('kickstarter_cleaning.csv')

In [3]:
# calculate how many days the project was live for
df2.dtypes

backers_count         int64
pledged               int64
country              object
created_at           object
deadline             object
goal                float64
id                    int64
launched_date        object
name                 object
spotlight              bool
staff_pick             bool
state                object
state_changed_at     object
category             object
city                 object
dtype: object

In [4]:
df2.launched_date = pd.to_datetime(df2['created_at'])
df2.deadline = pd.to_datetime(df2['deadline'])

In [7]:
df2['duration'] = df2['deadline'] - df2['launched_date']

In [8]:
df2.head()

,backers_count,pledged,country,created_at,deadline,goal,id,launched_date,name,spotlight,staff_pick,state,state_changed_at,category,city,duration
0,0,0,the United States,2017-06-21 17:18:54,2017-07-22 23:38:29,1000.0,1166044523,2017-06-21 17:18:54,CrimpCoffee: Good Coffee Good Times,False,False,failed,2017-07-22 23:38:29,Food,Portland,31 days 06:19:35
1,454,17010,Denmark,2020-10-27 13:29:35,2020-12-11 19:58:49,7500.0,986370978,2020-10-27 13:29:35,Spawns of the Great Rot - Printable stl 3d min...,True,False,successful,2020-12-11 19:58:49,Games,Svendborg,45 days 06:29:14
2,1,64,the United Kingdom,2017-04-15 22:46:58,2017-05-17 12:59:30,500.0,2059825834,2017-04-15 22:46:58,Dreamcatcher Games,False,False,failed,2017-05-17 12:59:30,Games,Enfield,31 days 14:12:32
3,92,6223,the United States,2020-11-04 17:18:51,2021-01-04 05:30:00,5000.0,1462846972,2020-11-04 17:18:51,Felbar's Shoppe of Curiosities and Occult for ...,True,False,successful,2021-01-04 05:30:01,Games,Chicago,60 days 12:11:09
4,128,10448,the United States,2020-07-20 15:40:27,2020-10-30 16:00:00,10000.0,1635933643,2020-07-20 15:40:27,Wander: Flavorful and Functional Pantry Staples,True,False,successful,2020-10-30 16:00:00,Food,Brooklyn,102 days 00:19:33

In [9]:
df2['days_active'] = pd.to_timedelta(df2.duration, errors='coerce').dt.days

In [12]:
df2.head()

,backers_count,pledged,country,created_at,deadline,goal,id,launched_date,name,spotlight,staff_pick,state,state_changed_at,category,city,duration,days_active
0,0,0,the United States,2017-06-21 17:18:54,2017-07-22 23:38:29,1000.0,1166044523,2017-06-21 17:18:54,CrimpCoffee: Good Coffee Good Times,False,False,failed,2017-07-22 23:38:29,Food,Portland,31 days 06:19:35,31
1,454,17010,Denmark,2020-10-27 13:29:35,2020-12-11 19:58:49,7500.0,986370978,2020-10-27 13:29:35,Spawns of the Great Rot - Printable stl 3d min...,True,False,successful,2020-12-11 19:58:49,Games,Svendborg,45 days 06:29:14,45
2,1,64,the United Kingdom,2017-04-15 22:46:58,2017-05-17 12:59:30,500.0,2059825834,2017-04-15 22:46:58,Dreamcatcher Games,False,False,failed,2017-05-17 12:59:30,Games,Enfield,31 days 14:12:32,31
3,92,6223,the United States,2020-11-04 17:18:51,2021-01-04 05:30:00,5000.0,1462846972,2020-11-04 17:18:51,Felbar's Shoppe of Curiosities and Occult for ...,True,False,successful,2021-01-04 05:30:01,Games,Chicago,60 days 12:11:09,60
4,128,10448,the United States,2020-07-20 15:40:27,2020-10-30 16:00:00,10000.0,1635933643,2020-07-20 15:40:27,Wander: Flavorful and Functional Pantry Staples,True,False,successful,2020-10-30 16:00:00,Food,Brooklyn,102 days 00:19:33,102

In [13]:
# check for null values in dataframe
df2.isnull().sum()

backers_count       0
pledged             0
country             0
created_at          0
deadline            0
goal                0
id                  0
launched_date       0
name                0
spotlight           0
staff_pick          0
state               0
state_changed_at    0
category            0
city                0
duration            0
days_active         0
dtype: int64

In [17]:
df2.country.nunique()

25

In [18]:
df2['launch_month'] = df2['launched_date'].dt.month

In [19]:
df2.head()

,backers_count,pledged,country,created_at,deadline,goal,id,launched_date,name,spotlight,staff_pick,state,state_changed_at,category,city,duration,days_active,launch_month
0,0,0,the United States,2017-06-21 17:18:54,2017-07-22 23:38:29,1000.0,1166044523,2017-06-21 17:18:54,CrimpCoffee: Good Coffee Good Times,False,False,failed,2017-07-22 23:38:29,Food,Portland,31 days 06:19:35,31,6
1,454,17010,Denmark,2020-10-27 13:29:35,2020-12-11 19:58:49,7500.0,986370978,2020-10-27 13:29:35,Spawns of the Great Rot - Printable stl 3d min...,True,False,successful,2020-12-11 19:58:49,Games,Svendborg,45 days 06:29:14,45,10
2,1,64,the United Kingdom,2017-04-15 22:46:58,2017-05-17 12:59:30,500.0,2059825834,2017-04-15 22:46:58,Dreamcatcher Games,False,False,failed,2017-05-17 12:59:30,Games,Enfield,31 days 14:12:32,31,4
3,92,6223,the United States,2020-11-04 17:18:51,2021-01-04 05:30:00,5000.0,1462846972,2020-11-04 17:18:51,Felbar's Shoppe of Curiosities and Occult for ...,True,False,successful,2021-01-04 05:30:01,Games,Chicago,60 days 12:11:09,60,11
4,128,10448,the United States,2020-07-20 15:40:27,2020-10-30 16:00:00,10000.0,1635933643,2020-07-20 15:40:27,Wander: Flavorful and Functional Pantry Staples,True,False,successful,2020-10-30 16:00:00,Food,Brooklyn,102 days 00:19:33,102,7

In [22]:
# The day of the week with Monday=0, Sunday=6.
df2['launch_day'] = df2['launched_date'].dt.weekday

In [23]:
df2.head()

,backers_count,pledged,country,created_at,deadline,goal,id,launched_date,name,spotlight,staff_pick,state,state_changed_at,category,city,duration,days_active,launch_month,launch_day
0,0,0,the United States,2017-06-21 17:18:54,2017-07-22 23:38:29,1000.0,1166044523,2017-06-21 17:18:54,CrimpCoffee: Good Coffee Good Times,False,False,failed,2017-07-22 23:38:29,Food,Portland,31 days 06:19:35,31,6,2
1,454,17010,Denmark,2020-10-27 13:29:35,2020-12-11 19:58:49,7500.0,986370978,2020-10-27 13:29:35,Spawns of the Great Rot - Printable stl 3d min...,True,False,successful,2020-12-11 19:58:49,Games,Svendborg,45 days 06:29:14,45,10,1
2,1,64,the United Kingdom,2017-04-15 22:46:58,2017-05-17 12:59:30,500.0,2059825834,2017-04-15 22:46:58,Dreamcatcher Games,False,False,failed,2017-05-17 12:59:30,Games,Enfield,31 days 14:12:32,31,4,5
3,92,6223,the United States,2020-11-04 17:18:51,2021-01-04 05:30:00,5000.0,1462846972,2020-11-04 17:18:51,Felbar's Shoppe of Curiosities and Occult for ...,True,False,successful,2021-01-04 05:30:01,Games,Chicago,60 days 12:11:09,60,11,2
4,128,10448,the United States,2020-07-20 15:40:27,2020-10-30 16:00:00,10000.0,1635933643,2020-07-20 15:40:27,Wander: Flavorful and Functional Pantry Staples,True,False,successful,2020-10-30 16:00:00,Food,Brooklyn,102 days 00:19:33,102,7,0

In [24]:
df2['launch_day_name'] = df2['launched_date'].dt.day_name()

In [27]:
df2.head()

,backers_count,pledged,country,created_at,deadline,goal,id,launched_date,name,spotlight,...,state,state_changed_at,category,city,duration,days_active,launch_month,launch_day,launch_day_name,launch_month_name
0,0,0,the United States,2017-06-21 17:18:54,2017-07-22 23:38:29,1000.0,1166044523,2017-06-21 17:18:54,CrimpCoffee: Good Coffee Good Times,False,...,failed,2017-07-22 23:38:29,Food,Portland,31 days 06:19:35,31,6,2,Wednesday,June
1,454,17010,Denmark,2020-10-27 13:29:35,2020-12-11 19:58:49,7500.0,986370978,2020-10-27 13:29:35,Spawns of the Great Rot - Printable stl 3d min...,True,...,successful,2020-12-11 19:58:49,Games,Svendborg,45 days 06:29:14,45,10,1,Tuesday,October
2,1,64,the United Kingdom,2017-04-15 22:46:58,2017-05-17 12:59:30,500.0,2059825834,2017-04-15 22:46:58,Dreamcatcher Games,False,...,failed,2017-05-17 12:59:30,Games,Enfield,31 days 14:12:32,31,4,5,Saturday,April
3,92,6223,the United States,2020-11-04 17:18:51,2021-01-04 05:30:00,5000.0,1462846972,2020-11-04 17:18:51,Felbar's Shoppe of Curiosities and Occult for ...,True,...,successful,2021-01-04 05:30:01,Games,Chicago,60 days 12:11:09,60,11,2,Wednesday,November
4,128,10448,the United States,2020-07-20 15:40:27,2020-10-30 16:00:00,10000.0,1635933643,2020-07-20 15:40:27,Wander: Flavorful and Functional Pantry Staples,True,...,successful,2020-10-30 16:00:00,Food,Brooklyn,102 days 00:19:33,102,7,0,Monday,July

In [26]:
df2['launch_month_name'] = df2['launched_date'].dt.month_name()

In [28]:
df2.drop(columns='duration', inplace=True)

In [29]:
df2.head()

,backers_count,pledged,country,created_at,deadline,goal,id,launched_date,name,spotlight,staff_pick,state,state_changed_at,category,city,days_active,launch_month,launch_day,launch_day_name,launch_month_name
0,0,0,the United States,2017-06-21 17:18:54,2017-07-22 23:38:29,1000.0,1166044523,2017-06-21 17:18:54,CrimpCoffee: Good Coffee Good Times,False,False,failed,2017-07-22 23:38:29,Food,Portland,31,6,2,Wednesday,June
1,454,17010,Denmark,2020-10-27 13:29:35,2020-12-11 19:58:49,7500.0,986370978,2020-10-27 13:29:35,Spawns of the Great Rot - Printable stl 3d min...,True,False,successful,2020-12-11 19:58:49,Games,Svendborg,45,10,1,Tuesday,October
2,1,64,the United Kingdom,2017-04-15 22:46:58,2017-05-17 12:59:30,500.0,2059825834,2017-04-15 22:46:58,Dreamcatcher Games,False,False,failed,2017-05-17 12:59:30,Games,Enfield,31,4,5,Saturday,April
3,92,6223,the United States,2020-11-04 17:18:51,2021-01-04 05:30:00,5000.0,1462846972,2020-11-04 17:18:51,Felbar's Shoppe of Curiosities and Occult for ...,True,False,successful,2021-01-04 05:30:01,Games,Chicago,60,11,2,Wednesday,November
4,128,10448,the United States,2020-07-20 15:40:27,2020-10-30 16:00:00,10000.0,1635933643,2020-07-20 15:40:27,Wander: Flavorful and Functional Pantry Staples,True,False,successful,2020-10-30 16:00:00,Food,Brooklyn,102,7,0,Monday,July

In [30]:
df2.drop(columns='state_changed_at', inplace=True)

In [31]:
#convert spotlight and staff_pick to binary 
df2['spotlight'] = df2['spotlight'].astype(int)
df2['staff_pick'] = df2['staff_pick'].astype(int)

In [32]:
df2.head()

,backers_count,pledged,country,created_at,deadline,goal,id,launched_date,name,spotlight,staff_pick,state,category,city,days_active,launch_month,launch_day,launch_day_name,launch_month_name
0,0,0,the United States,2017-06-21 17:18:54,2017-07-22 23:38:29,1000.0,1166044523,2017-06-21 17:18:54,CrimpCoffee: Good Coffee Good Times,0,0,failed,Food,Portland,31,6,2,Wednesday,June
1,454,17010,Denmark,2020-10-27 13:29:35,2020-12-11 19:58:49,7500.0,986370978,2020-10-27 13:29:35,Spawns of the Great Rot - Printable stl 3d min...,1,0,successful,Games,Svendborg,45,10,1,Tuesday,October
2,1,64,the United Kingdom,2017-04-15 22:46:58,2017-05-17 12:59:30,500.0,2059825834,2017-04-15 22:46:58,Dreamcatcher Games,0,0,failed,Games,Enfield,31,4,5,Saturday,April
3,92,6223,the United States,2020-11-04 17:18:51,2021-01-04 05:30:00,5000.0,1462846972,2020-11-04 17:18:51,Felbar's Shoppe of Curiosities and Occult for ...,1,0,successful,Games,Chicago,60,11,2,Wednesday,November
4,128,10448,the United States,2020-07-20 15:40:27,2020-10-30 16:00:00,10000.0,1635933643,2020-07-20 15:40:27,Wander: Flavorful and Functional Pantry Staples,1,0,successful,Food,Brooklyn,102,7,0,Monday,July

In [33]:
df2.country.value_counts()

the United States     118877
the United Kingdom     18882
Canada                  7974
Australia               4030
Germany                 3099
Mexico                  2546
France                  2488
Italy                   2231
Spain                   1968
the Netherlands         1491
Sweden                  1260
Hong Kong               1102
Denmark                  755
New Zealand              746
Singapore                660
Switzerland              611
Belgium                  536
Ireland                  531
Japan                    492
Austria                  410
Norway                   408
Luxembourg                54
Poland                    54
Greece                    30
Slovenia                  16
Name: country, dtype: int64

In [34]:
df2.city.nunique()

12584

In [35]:
df2.city.value_counts()

Los Angeles          7855
London               6523
New York             6243
Chicago              3035
San Francisco        2524
                     ...
Nagano                  1
Fresh Meadows           1
East Williamsburg       1
07006                   1
Upperco                 1
Name: city, Length: 12584, dtype: int64

In [36]:
df2.to_csv('final_clean.csv', index=False)